<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')  %> 
<body>
  <%- include('partials/header')  %> 
  <div class="contaier">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/images/<%= product.image[0] %>" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= product.name%></h5>
            <h5 class="card-title text-warnig"><%= product.discount%>%</h5>

            <h5 class="card-title text-success">$<%= (product.price -(product.price * product.discount / 100))%></h5>
            <p class="card-text"><%= product.descripcion %></p>
            
          </div>
        </div>
      </div>
    </div>   

   

  </div>
  <%- include('partials/footer')  %>
   
</body>
</html>